.root {
    height: 100vh;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20px);
    padding: 10px 0px;
    background-image: url('./images/mint_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 500px;
}
.logo_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    width: 300px;
    margin-bottom: 12px;
    margin-left: -55px;
    filter: drop-shadow(0 0 30px rgba(0, 224, 128, 0.6));
}
.pbold {
    color: #8ABDEB;
    font-family: 'Chivo Mono';
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0px;
}
.plight {
    color: #8ABDEB;
    font-family: 'Chivo Mono';
    font-size: 12px;
    margin: 16px 0px;
    line-height: 16px;
}
.label {
    display: flex;
    align-items: center;
    margin: 30px 0px 6px 0px;
}
.label_point {
    width: 4px;
    height: 4px;
    background: #2C5DA3;
    border: solid 3px #8ABDEB;
    border-radius: 50%;
    margin-top: 1.5px;
}
.label_text {
    color: #8ABDEB;
    font-family: 'Chivo Mono';
    font-size: 18px;
    font-weight: bold;
    margin: 0px 6px;
}
.btn {
    color: #10514c;
    font-family: 'Chivo Mono';
    font-size: 22px;
    font-weight: 900;
    background: #00EA96;
    border: solid 5px #44FFBC;
    border-radius: 20px;
}
.btn:hover {
    color: #10514c;
    background: #00EA96;
    border: solid 5px #44FFBC;
    filter: drop-shadow(0 0 8px rgba(0, 224, 128, 0.6));
}
.btn:disabled {
    color: #071316;
    background: #11282F;
    border: solid 5px #15313A;
    filter: none;
}
.btn_discord {
    padding: 8px 30px;
    margin-right: 15px;
}
.btn_verify {
    padding: 10px 25px;
}
.btn_generate {
    margin-left: 25px;
    padding: 10px 25px;
}
.btn_submit {
    padding: 10px 38px;
}
.input {
    color: #4C6983;
    font-family: 'Chivo Mono';
    font-size: 16px;
    background: #162533;
    outline: solid 5px #44FFBC;
    border: solid 5px black;
    border-radius: 16px;
    padding: 9.5px 16px;
}
.input::placeholder {
    color: #4C6983;
}
.input:focus {
    filter: drop-shadow(0 0 8px rgba(0, 224, 128, 0.6));
}
.input_username {
    margin-left: 5px;
    width: 261px;
}
.input_wallet {
    margin-left: 5px;
    margin-top: 6px;
    width: 448px;
}

@media (max-width: 500px) {
    .container {
        width: 88vw;
    }
    .logo {
        margin-left: -3vw;
    }
    .plight {
        font-size: 8px;
        line-height: 11px;
        margin: 10px 0px;
    }
    .pbold {
        font-size: 8px;
        margin: 10px 0px;
    }
    .label {
        margin: 16px 0px 6px 0px;
    }
    .label_point {
        width: 2px;
        height: 2px;
        background: #2C5DA3;
        border: solid 2px #8ABDEB;
        border-radius: 50%;
        margin-top: 1.5px;
    }
    .label_text {
        font-size: 12px;
    }
    .btn {
        font-size: 16px;
        border: solid 3px #44FFBC;
        border-radius: 10px;
    }
    .btn:hover {
        border: solid 3px #44FFBC;
        filter: drop-shadow(0 0 6px rgba(0, 224, 128, 0.6));
    }
    .btn:disabled {
        border: solid 3px #15313A;
    }
    .btn_discord {
        padding: 6px 8px;
        margin-right: 8px;
    }
    .btn_verify {
        padding: 6px 10px;
    }
    .btn_generate {
        margin-left: 0;
        padding: 6px 10px;
    }
    .btn_submit {
        padding: 6px 20px;
    }
    .input {
        font-size: 12px;
        outline: solid 3px #44FFBC;
        border: solid 3px black;
        border-radius: 10px;
        padding: 6.5px 10px;
    }
    .input_username {
        width: 45vw;
        margin-right: 4vw;
    }
    .input_wallet {
        width: calc(100vw - 128px);
    }
}